.info {
    position: relative;
    font-size: 18px;
    padding-left: 35px;

    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0;
        width: 21px;
        height: 21px;
        background-repeat: no-repeat;
        background-position: center;
    }

    &--map::before {
        background-image: url(./../../img/map.svg);
    }    

    &--tel::before {
        background-image: url(./../../img/phone.svg);
    }

    @include mediaTablet {
        font-size: 14px;
    }
}
